In [1]:
! pip install PyMySQL
! pip install ipython-sql
! pip install mysqlclient

Requirement already satisfied: PyMySQL in c:\users\dell\anaconda3\lib\site-packages (1.1.0)
Requirement already satisfied: ipython-sql in c:\users\dell\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: sqlparse in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\dell\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\dell\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\dell\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\dell\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\dell\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\dell\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: mysqlclient in c:\users\dell\anaconda3\lib\site-packages (2.2.0)

In [2]:
import pymysql # provide a convenient way to connect to mysql
import pandas as pd

In [3]:
mysqldb = pymysql.connect(host="localhost",
                          user= "root",
                          password = "14112004",
                          database = "student")

mysqlcursor =mysqldb.cursor() # create a cursor object from mysqlconnection object(mysqldb)
# The cursor is used to execute SQL queries and fetch the results from the database.

In [4]:
# create table students
mysqlcursor.execute("""create table students(student_name nvarchar(50) , 
                                            student_ID INT Primary key  , 
                                            student_address varchar(30), 
                                            student_sex BIT,
                                            subject_ID nvarchar(30),
                                            foreign key (subject_ID) references subject(subject_ID))""")

OperationalError: (1050, "Table 'students' already exists")

In [5]:
# create table classes
mysqlcursor.execute("""create table classes(classes_name nvarchar(50) , 
                                            classes_ID nvarchar(30) Primary key )""")

OperationalError: (1050, "Table 'classes' already exists")

In [6]:
# create table subject
mysqlcursor.execute("""create table subject(subject_name nvarchar(50) ,
                                            subject_ID nvarchar(30) primary key )""")

OperationalError: (1050, "Table 'subject' already exists")

In [7]:
# insert data into table student
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('bao an', 1, 'thaibinh', 1)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('khanh phuong', 2, 'hanoi', 0)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('ninh hai', 3, 'hai duong', 0)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('phuong anh', 4, 'ha noi', 0)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('hoa ngoc', 5, 'ha noi', 0)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('le duc', 6, 'ha noi', 1)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('ba huy', 7, 'ha noi', 1)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('huy thinh', 8, 'ha noi', 1)")
mysqlcursor.execute("insert into students(student_name, student_ID, student_address, student_sex) values('quoc vuong', 9, 'son tay', 1)")
mysqldb.commit()
print("record inserted into table")

record inserted into table

In [8]:
#  insert data into table subject
mysqlcursor.execute("insert into subject(subject_name, subject_ID) values('database', 1)")
mysqlcursor.execute("insert into subject(subject_name, subject_ID) values('finance', 2)")
mysqlcursor.execute("insert into subject(subject_name, subject_ID) values('quantitative methods', 3)")
mysqlcursor.execute("insert into subject(subject_name, subject_ID) values('economic statistics', 4)")
mysqlcursor.execute("insert into subject(subject_name, subject_ID) values('Data science', 5)")
mysqlcursor.execute("insert into subject(subject_name, subject_ID) values('Information system', 6)")
mysqldb.commit()
print("record inserted into table")

record inserted into table

In [9]:
# insert data into table classes
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('FF', 'F05')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('FF', 'F04')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('FF', 'F03')")
''''''
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('ES', 'ES01')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('ES', 'ES02')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('ES', 'ES04')")
''''''
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('INS', 'INS04')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('INS', 'INS03')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('INS', 'INS02')")
''''''
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('DS', 'DS01')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('DS', 'DS02')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('DS', 'DS03')")
''''''
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('DB', 'DB01')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('DB', 'DB02')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('DB', 'DB03')")
''''''
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('IS', 'IS01')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('IS', 'IS02')")
mysqlcursor.execute("insert into classes(classes_name, classes_ID) values('IS', 'IS03')")
mysqldb.commit()
print("record inserted into table")

IntegrityError: (1062, "Duplicate entry 'F05' for key 'classes.PRIMARY'")

In [10]:
# display record

try: 
    mysqlcursor.execute("select * from students ")
    result = mysqlcursor.fetchall()
    for i in result:
        student_name = i[0]
        student_ID = i[1]
        student_address = i[2]
        student_sex = i[3]
        print(student_name,student_ID,student_address,student_sex)
except exception as e:
    print(e)

bao an 1 thaibinh b'\x01'
khanh phuong 2 hanoi b'\x00'
ninh hai 3 hai duong b'\x00'
phuong anh 4 ha noi b'\x00'
hoa ngoc 5 ha noi b'\x00'
le duc 6 ha noi b'\x01'
ba huy 7 ha noi b'\x01'
huy thinh 8 ha noi b'\x01'
quoc vuong 9 son tay b'\x01'

In [15]:
# display record

try:
    mysqlcursor.execute("SELECT student_name, student_ID, subject_ID FROM students INNER JOIN subject ON students.subject_ID = subject.subject_ID")
    result = mysqlcursor.fetchall()
    for i in result:
        student_name = i[0]
        student_ID = i[1]
        subject_ID = i[2]
        
        print(student_name, student_ID, subject_ID)
except Exception as e:
    print(e)

(1052, "Column 'subject_ID' in field list is ambiguous")

In [21]:
try:
    mysqlcursor.execute("SELECT student_name FROM students")
    students_result = mysqlcursor.fetchall()

    mysqlcursor.execute("SELECT subject_name FROM subject")
    subject_result = mysqlcursor.fetchall()

    for student_row in students_result:
        student_name = student_row[0]
        

        for subject_row in subject_result:
            subject_name = subject_row[0]

            print(student_name, subject_name)

except Exception as e:
    print(e)

bao an database
bao an finance
bao an quantitative methods
bao an economic statistics
bao an Data science
bao an Information system
khanh phuong database
khanh phuong finance
khanh phuong quantitative methods
khanh phuong economic statistics
khanh phuong Data science
khanh phuong Information system
ninh hai database
ninh hai finance
ninh hai quantitative methods
ninh hai economic statistics
ninh hai Data science
ninh hai Information system
phuong anh database
phuong anh finance
phuong anh quantitative methods
phuong anh economic statistics
phuong anh Data science
phuong anh Information system
hoa ngoc database
hoa ngoc finance
hoa ngoc quantitative methods
hoa ngoc economic statistics
hoa ngoc Data science
hoa ngoc Information system
le duc database
le duc finance
le duc quantitative methods
le duc economic statistics
le duc Data science
le duc Information system
ba huy database
ba huy finance
ba huy quantitative methods
ba huy economic statistics
ba huy Data science
ba huy Information system
huy thinh database
huy thinh finance
huy thinh quantitative methods
huy thinh economic statistics
huy thinh Data science
huy thinh Information system
quoc vuong database
quoc vuong finance
quoc vuong quantitative methods
quoc vuong economic statistics
quoc vuong Data science
quoc vuong Information system

In [ ]:
try:
    mysqlcursor.execute("SELECT student_name FROM students")
    students_result = mysqlcursor.fetchall()

    mysqlcursor.execute("SELECT subject_name FROM subject")
    subject_result = mysqlcursor.fetchall()

    for student_row in students_result:
        student_name = student_row[0]
        

        for subject_row in subject_result:
            subject_name = subject_row[0]

            print(student_name, subject_name)

except Exception as e:
    print(e)

bao an database
bao an finance
bao an quantitative methods
bao an economic statistics
bao an Data science
bao an Information system
khanh phuong database
khanh phuong finance
khanh phuong quantitative methods
khanh phuong economic statistics
khanh phuong Data science
khanh phuong Information system
ninh hai database
ninh hai finance
ninh hai quantitative methods
ninh hai economic statistics
ninh hai Data science
ninh hai Information system
phuong anh database
phuong anh finance
phuong anh quantitative methods
phuong anh economic statistics
phuong anh Data science
phuong anh Information system
hoa ngoc database
hoa ngoc finance
hoa ngoc quantitative methods
hoa ngoc economic statistics
hoa ngoc Data science
hoa ngoc Information system
le duc database
le duc finance
le duc quantitative methods
le duc economic statistics
le duc Data science
le duc Information system
ba huy database
ba huy finance
ba huy quantitative methods
ba huy economic statistics
ba huy Data science
ba huy Information system
huy thinh database
huy thinh finance
huy thinh quantitative methods
huy thinh economic statistics
huy thinh Data science
huy thinh Information system
quoc vuong database
quoc vuong finance
quoc vuong quantitative methods
quoc vuong economic statistics
quoc vuong Data science
quoc vuong Information system

In [23]:
try:
    student_name1 = "bao an"
    required_subjects = ["database", "Data science"]
    count = 0 # đếm số lượng môn học

    mysqlcursor.execute("SELECT student_name, subject_name FROM students INNER JOIN subject ON students.subject_ID = subject.subject_ID")
    result = mysqlcursor.fetchall()
    for i in result:
        student_name = i[0] # trích xuất giá trị của student_name của bản ghi hiện tại
        subject_name = i[1] # trích xuất giá trị của subject_name của bản ghi hiện tại

        if student_name == student_name1 and subject_ID in required_subjects:

    # subject_ID in required_subjects kiểm tra xem mã môn học trong bản ghi hiện tại có nằm trong danh sách các môn học yêu cầu hay không
    # nếu mà môn học khớp, câu lệnh điều kiện trả về true và ngược lại
            count += 1

    if count == len(required_subjects):
        print(f"{student_name1} học đủ {len(required_subjects)} môn: {', '.join(required_subjects)}")
    else:
        print(f"{student_name1} không học đủ {len(required_subjects)} môn")

except Exception as e:
    print(e)

bao an không học đủ 2 môn